body{

	margin:0 0 0 0;

}
h1{
	font-size:18px;
	font-family:"Georgia",Verdana,Lucida,Helvetica,Arial,sans-serif;
	color:#666;
	text-align:rigth;
	margin:10px 5px 5px 0px;
}
a{
	color:red;
}
#menu{
	width:130px;
	height:400px;
	float:left;
	position:absolute;
	border-right: 5px solid red;
	font-size:12px;
}
#logo{
	margin-top:10px;
}
.memotest{
	border:0px solid #CCC;
	background-color:#FFF;
	text-align:left;
	float:left;
	position:absolute;
	margin-left:150px;
}
.ficha{
	width:64px;
	height:96px;
	border:1px solid #FFF;
	background-repeat:no-repeat;
	float:left;
}
.ficha-cover{
	width:64px;
	height:96px;
	border:0px solid #333;
	background-color:#EEE;
	float:left;
}
.trabado{
	display:none;
}
.abierto{
	display:none;
}
.seleccionada{
	border:1px solid #EEE;
}
.encontrada{
	border:1px solid #FFF;
}


/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
  
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -200px;
    width: 400px;
    
    background-color: #FFF;
    color: #333;
    border: 2px solid RED;
    padding: 9px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
